// app global css in SCSS form
@import './fonts.scss';
@import './skss/main';

body {
  font-family: 'DM sans' !important;
}

.page-title {
  font-family: 'Inter' !important;
  font-weight: 900 !important;
  font-size: 3.42em !important;

  user-select: none;
}

.inter {
  font-family: Inter !important;
}

.dm {
  font-family: 'DM Sans' !important;
}
