

$neutral-lowest: #FFFFFF;
$neutral-lower: #F1F5F9;
$neutral-low: #CBD5E1;
$neutral-medium: #94A3B8;
$neutral-high: #475569;
$neutral-higher: #273c50;
$neutral-highest: #09090B;

$primary-lowest: #EEF2FF;
$primary-lower: #E0E7FF;
$primary-low: #A5B4FC;
$primary-medium: #6366F1;
$primary-high: #4338CA;
$primary-higher: #312E81;
$primary-highest: #1E1B4B;

$secondary-lowest: #FAF5FF;
$secondary-lower: #F3E8FF;
$secondary-low: #D8B4FE;
$secondary-medium: #A855F7;
$secondary-high: #7E22CE;
$secondary-higher: #581C87;
$secondary-highest: #3B0764;

$success-lowest: #ECFDF5;
$success-lower: #D1FAE5;
$success-low: #6EE7B7;
$success-medium: #10B981;
$success-high: #047857;
$success-higher: #064E3B;
$success-highest: #022C22;

$danger-lowest: #ECFDF5;
$danger-lower: #FEE2E2;
$danger-low: #FCA5A5;
$danger-medium: #EF4444;
$danger-high: #B91C1C;
$danger-higher: #7F1D1D;
$danger-highest: #022C22;

$warning-lowest: #FFF7ED;
$warning-lower: #FFEDD5;
$warning-low: #FDBA74;
$warning-medium: #F97316;
$warning-high: #C2410C;
$warning-higher: #7C2D12;
$warning-highest: #431407;