// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// #f7ce62
// #273c50
// #a879d7

$openai: #4aa181;

$primary: #6366F1;
$secondary: #f7ce62;
$neutral: #94A3B8;
$accent: #6cccd7;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #4aa181;
$negative  : #EF4444;
$info      : #31CCEC;
$warning   : #F97316;

$generic-border-radius: 8px !default;
$button-border-radius: 8px !default;