$neutral-lowest: #ffffff;
$neutral-lower: #f1f5f9;
$neutral-low: #cbd5e1;
$neutral-medium: #94a3b8;
$neutral-high: #475569;
$neutral-higher: #273c50;
$neutral-highest: #09090b;

$primary-lowest: #eef2ff;
$primary-lower: #e0e7ff;
$primary-low: #a5b4fc;
$primary-medium: #6366f1;
$primary-high: #4338ca;
$primary-higher: #312e81;
$primary-highest: #1e1b4b;

$secondary-lowest: #faf5ff;
$secondary-lower: #f3e8ff;
$secondary-low: #d8b4fe;
$secondary-medium: #a855f7;
$secondary-high: #7e22ce;
$secondary-higher: #581c87;
$secondary-highest: #3b0764;

$success-lowest: #ecfdf5;
$success-lower: #d1fae5;
$success-low: #6ee7b7;
$success-medium: #10b981;
$success-high: #047857;
$success-higher: #064e3b;
$success-highest: #022c22;

$danger-lowest: #ecfdf5;
$danger-lower: #fee2e2;
$danger-low: #fca5a5;
$danger-medium: #ef4444;
$danger-high: #b91c1c;
$danger-higher: #7f1d1d;
$danger-highest: #022c22;

$warning-lowest: #fff7ed;
$warning-lower: #ffedd5;
$warning-low: #fdba74;
$warning-medium: #f97316;
$warning-high: #c2410c;
$warning-higher: #7c2d12;
$warning-highest: #431407;
