.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer !important;
}

.smooth {
  transition-duration: #{$default-duration} !important;
}
@each $name, $duration in $animation-durations {
  .smooth-#{$name} {
    transition-duration: $duration !important;
  }
}

.rounded,
.rounded-hover:hover {
  border-radius: #{$default-rounded};
}
@each $name, $accentuation in $round-accentuations {
  .rounded-#{$name},
  .rounded-#{$name}-hover:hover {
    border-radius: $accentuation !important;
  }
}

.inherit {
  width: inherit;
  height: inherit;

  &-width {
    width: inherit;
  }

  &-height {
    height: inherit;
  }
}

.full {
  width: 100%;
  height: 100%;

  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }
}
